.App {
  text-align: center;
}

.App-header {
  background-color: #5c626e;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}
